@charset "ISO-8859-1";

body {
	background: url(../IMG/fondo-home-cc.jpg) no-repeat;
	background-size: cover; 
	background-color: #000000;
	background-attachment: fixed
	}
	
	#tabpeli {
	background-color: #0c0c0c;
	color: white;
	
}

	li:hover {
  background-color: #8B0000;
}

.btn {
	background-color: black;

}

/* con esto se ajusta el contenido al centro manteniendo
	mismos márgenes a izda y derecha */
	

#tusuario {
	
	display: flex;
	justify-content: space-around;
}
/*  ^  11/09/2020 ^ */ 

#tusuario td {
	border: none;
	color: #a90104;
	width: 50%;
	text-align: center;
	text-shadow: 2px 2px #000000;

}

#tadmin tr:nth-child(even){background-color: #212221;}

/* tamaño predeterminado para todas las img :) */

img {
	
	width: 300px;
	height: 400px;
}

/* tabla lista admin */

#tadmin  {
	background-color: #0c0c0c;
	color: white;
	text-align: center;
	 
} 

#tadmin th {
	text-align: center;
	color: #a90104;
	font-size: 17px;
	text-shadow: 1px 1px #ffffff;
}


#tadusus {
	
	background-color: #0c0c0c;
	color: white; 
	text-align: center;

}
	
}

#tadusus tr:nth-child(even){background-color: #212221;}

#tadusus th {
	text-align: center;
	color: #a90104;
	font-size: 17px;
	text-shadow: 1px 1px #ffffff;
}

/*tabla favoritas usuarios */
/* con esto se ajusta el contenido al centro manteniendo
	mismos márgenes a izda y derecha */

#tfav {
	display: flex;
	justify-content: space-around;
}

/*  ^  11/09/2020 ^ */ 

#tfav td {
	border: none;
	color: #a90104;
	width: 50%;
	text-align: center;
	text-shadow: 2px 2px #000000;
}



/* fin tablas :) */



caption {
	font-size:25px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #aa0100;
}


form  {
	background-color: black;
	opacity: 0.98;
	position: absolute;
    top:30%;
    left: 40%;           
    margin-top: -100px;
    margin-left: -100px;
    padding: 16px;
  	border-radius: 30px;
  	background-color:black;
  	width:250px;
  	height:auto;
  	
	
}

form label {
	color:white;
}


.reg{
		font-family: 'Playfair Display';
		font-size:20px;
		text-align: left;
		}
		
.mod{
		font-family: 'Playfair Display';
		font-size:20px;
		text-align: left;
		color:white;
	
}

/* los enlaces de los iconos siempre se muestran de color blanco */

a:link, a:visited {
	color:white;
}

a:hover, a:active {
	color:white;
}

#botFav: hoover {
	color: red;
}

/* botoncito scroll :) */


#myBtn {
	
  display: none;
  position: fixed;
  bottom: 10px;
  right: 100px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #800000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  
}

#myBtn:hover {
  background-color: #000000;

}


.w3-btn
		{width:100px; font-size: 8px; display: inline-block;}
		 
		 
		 


  