@charset "ISO-8859-1";

body {
	background: url(../IMG/fondo-home-cc.jpg) no-repeat;
	background-size: cover; 
	background-color: #000000;
	}

	li:hover {
  background-color: #8B0000;
}

.btn {
	background-color: black;
	
}

#tusuario td {
		border: none;
		color: white;
		text-align: center;
}

 #tadmin td, th {
	background-color: black;
	color: white;
	text-align: center;
	 
} 

#tfav td {
	
	border: none;
	color: white;
	text-align: center;
}




caption {
	
	color: white;
	text-align: center;
}


form  {
	background-color: black;
	opacity: 0.98;
	position: absolute;
    top:30%;
    left: 40%;           
    margin-top: -100px;
    margin-left: -100px;
    padding: 16px;
  	border-radius: 30px;
  	background-color:black;
  	width:250px;
  	height:auto;
  	
	
}

form label {
	color:white;
}

.reg{
		font-family: 'Playfair Display';
		font-size:20px;
		text-align: left;
		}
		
.mod{
		font-family: 'Playfair Display';
		font-size:20px;
		text-align: left;
		color:white;
	
}

a:link, a:visited {
	color:white;
}

a:hover, a:active {
	color:white;
}

/*
a:hover{
	color:yellow;
}
*/
.w3-btn
		 {width:100px; font-size: 8px; display: inline-block;}
		 
		 
		 


  